@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Medium.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-Bold.ttf) format("truetype");
  font-weight: 700;
}
footer, .info, .preview, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

header {
  padding: 20px 0 20px;
}
header .img-logo {
  background-image: url(./assets/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 41px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 663px;
  max-width: 90%;
}
header nav p {
  font: 400 16px "Inter";
  color: #7d7987;
  padding-right: 35px;
}
header nav p:hover {
  font: 500 16px "Inter";
  color: #202336;
}
header nav .btn-login {
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  font: 500 15px "Inter";
  color: #fb8f1d;
  text-align: center;
  width: 132px;
  height: 44px;
  padding-top: 10px;
  margin-right: 18px;
}
header nav .btn-login:hover {
  background: #ffffff;
}
header nav .btn-register {
  background: #fb8f1d;
  border-radius: 8px;
  font: 500 15px "Inter";
  color: #ffffff;
  text-align: center;
  width: 132px;
  height: 44px;
  padding-top: 10px;
}
header nav .btn-register:hover {
  background: #f18410;
}

.preview {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 125px;
}
.preview .img {
  background-image: url(./assets/main-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 506px;
  height: 483px;
}
.preview .left-side {
  width: 520px;
}
.preview .left-side h1 {
  font: 700 64px "Playfair";
  color: #202336;
}
.preview .left-side p {
  font: 600 22px "Inter";
  color: #202336;
  margin: 40px 0;
}
.preview .left-side .btn {
  background: #fb8f1d;
  border-radius: 8px;
  width: 180px;
  font: 700 17px "Inter";
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
.preview .left-side .btn:hover {
  background: #f18410;
}
.preview .left-side .form-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.preview .left-side .form-inputs div {
  margin-bottom: 35px;
}
.preview .left-side .form-inputs div:not(:last-child) {
  margin-right: 30px;
}
.preview .left-side .form-inputs input {
  border: 0.8px solid #7d7987;
  border-radius: 6px;
  width: 220px;
  height: 52px;
  padding-left: 20px;
}

.info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 100px auto 190px;
}
.info .img-2 {
  background-image: url(./assets/setion.png);
  width: 659px;
  height: 534px;
  background-repeat: no-repeat;
  background-size: contain;
}
.info .right-side {
  width: 450px;
}
.info .right-side h3 {
  font: 700 36px "Playfair";
  color: #000000;
}
.info .right-side p {
  font: 300 17px "Inter";
  color: #7d7987;
  margin-top: 20px;
  line-height: 30px;
}
.info .right-side .btn {
  background: #fb8f1d;
  border-radius: 8px;
  width: 164px;
  font: 600 16px "Inter";
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
  margin-top: 33px;
}
.info .right-side .btn:hover {
  background: #f18410;
}

footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9f9fb;
  padding: 61px 0 120px;
}
footer .footer-cooperation {
  margin-left: 20px;
}
footer .footer-cooperation .img-logo2 {
  background-image: url(./assets/footer-logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 37px;
}
footer .footer-cooperation p {
  font: 300 18px "Inter";
  color: #848484;
  margin-top: 22px;
  width: 350px;
}
footer .footer-cooperation p:last-child {
  width: 100%;
  margin-top: 40px;
}
footer nav p {
  font: 300 18px "Inter";
  color: #848484;
  padding-bottom: 15px;
  width: 180px;
}
footer nav p:hover {
  font: 500 18px "Inter";
  color: #202336;
}
footer nav p:first-child {
  font: 700 19px "Inter";
  color: #000000;
}